<div class="container">
<div class="hero-unit">

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name,:validate => true, :html => {:class => 'form-inline'}, :url => registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <div class="control-group">
    <label for="inputEmail3" >
      <%= f.label :email %>
    </label>  
    <div class="controls">
      <%= f.email_field :email, :autofocus => true,:validate => true, :class => 'class="form-control"' %>
    </div>
  </div>

  <div class="control-group">
    <label for="inputEmail3" >
      <%= f.label :dob ,"Date of Birth" %>
    </label>  
    <div class="controls">
      <%= f.text_field :dob, :autofocus => true,:validate => true, :class => "datepicker" %>
    </div>
  </div>
  
  <div class="control-group">
    <label for="inputPassword3" >
      <%= f.label :password  %>
    </label>  
    <div class="controls">
      <%= f.password_field :password  %>
    </div>
  </div>

  <div class="control-group">
    <label for="inputPassword3" >
      <%= f.label :password_confirmation %>
    </label>
     <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :image %>
    <div class="controls">
      <%= f.file_field :image, :class => 'btn' %> <%#= image_tag @user.product_image.url(:thumb) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone %>
    <div class="controls">
      <%= f.text_field :phone %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :address %>
    <div class="controls">
      <%= f.text_area :address ,:rows=>"3" ,:cols=>"7" %>
    </div>
  </div>

  

  
  
  <div><%= f.submit "Sign up" , :class=>'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
<script >
$('.datepicker').datepicker()
</script>
