<div class="container">
<div class="hero-unit">
<%= form_for @product, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>

  <% if  @product.errors.any? %>
  <ul>
  <%  @product.errors.full_messages.each do |msg| %>
    <li>
     <%= msg %>
    </li> 
  <% end %>
  </ul>
<% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Category, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:product, :category_id, Category.all, :id, :name) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Store, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select 'store_ids', Store.all, :id, :name,{ :include_blank => 'None'}, 
        { :multiple => true, 
          :selected => 0 } %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :feature, :class => 'control-label' %>
    <div class="controls checkbox">
      <%= f.check_box :feature %>
    </div>
  </div>


  <div id="blockBrowseImage" class="control-group">
    <div class="controls">
      <%= file_field_tag "product[images_attributes][][image]" %>
    </div>
  </div>

  <div class=" control-group add_remove ">
    <div class="controls">
      <a class="add_images" herf="javascript:void(0)" > Add more images</a> | 
      <a class="remove_images" herf="javascript:void(0)" > Remove Images</a>
    </div> 
  </div>

  <div class="control-group">
    <%= f.label :stock, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock, :class => '' %> 
    </div>
  </div>

  
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'input-block-level' %> 
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>

</div>
</div>
